@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,*::before,*::after {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    /*background: linear-gradient(304.58deg, #e1e9f4 57.1%, #3b83e0 45.5%);*/
    /*background: linear-gradient(304.58deg, #e1e9f4 57.1%, #3b83e0 145.5%);*/
    /*background: linear-gradient(145.58deg, #82a75180 45.1%, #82a751 145.5%);*/
    /*background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);*/
    /* background-image: linear-gradient(to right top, #d16ba5, #d48ac0, #d8a7d6, #dec3e7, #e8ddf4, #e5e8fb, #e7f1fe, #eef9ff, #d1f9ff, #affaff, #88fbff, #5ffbf1);*/
    background: linear-gradient(145.58deg, #82a75140 55.1%, #82a751 145.5%);
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    display: flex;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* Navigation */
header {
    align-items: center;
    gap: 2em;
    padding: 2em 0;
}

.logo {
    align-items: center;
    gap: 0.2em;
    font-weight: 600;
    font-size: 32px;
    /*color: black;*/
    background: -webkit-linear-gradient(80deg, #2f2f2f, #2f2f2f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    flex-grow: 1;
    gap: 2em;
}

.primary-links {
    gap: 2em;
    margin: auto;
    transitiom: 0.5s;
}

nav a {
    font-size: 22px;
    /*color: black;*/
    /*background: -webkit-linear-gradient(300deg, #e91e63, #ff7e00);*/
    background: -webkit-linear-gradient(300deg, #e91e63, #ff7e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondary-links {
    align-items: center;
    max-width: 250px;
    gap: 1em;
    background: rgba(255, 249, 240, 0.5);
    fill: #909090;
    padding: 0.5em 1em;
    border-radius: 30px;
}

.secondary-links div + div {
    border-left: 1px solid rgba(148, 140, 140, 0.3);
    padding-left: 1em;
}

.nav-input {
    align-items: center;
    gap: 0.5em;
}

.secondary-links svg {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.nav-input input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 18px;
}

nav a.active, nav a:hover, .secondary-links svg:hover, .hero-btns a:hover {
    fill: #047e37; /*#ff7e00*/
    /*.nav-input:hover,*/
    /*color: #ff7e00;*/
    background: -webkit-linear-gradient(300deg, #035a27, #035a27);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Hero Section */
.hero {
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2em;
    padding: 2em 0;
    min-height: calc(100vh - 115.6px);
}

.hero>* {
    flex: 1 1 20em;
}

.hero h1 {
    align-items: center;
    gap: 0.1em;
    font-weight: 700;
    font-size: clamp(70px,10vw,125px);
    color: #ff7e00;
    margin: 0;
    line-height: 1;
}

.hero h1 span {
    position: relative;
    font-weight: 700;
    font-size: clamp(25px,5vw,55px);
    color: #2f2f2f;
}

.hero h1 span::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    background-image: url(./img/text-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero p {
    font-size: 22px;
    color: rgba(0,0,0,0.55);
    margin: 0;
    padding: 1em 0;
}

.hero-btns {
    flex-wrap: wrap;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
}

.hero-btns a:nth-of-type(1) {
    font-weight: 600;
    font-size: 20px;
    color: #f4ece1;
    background: #2f2f2f;
    padding: 0.5em 1em;
    box-shadow: 0px 20px 32px -8px rgba(0,0,0,0.2);
    border-radius: 100px;
}

.hero-btns a:nth-of-type(2) {
    align-items: center;
    gap: 1em;
    font-weight: 600;
    font-size: 20px;
    color: #2f2f2f;
}

.hero-btns a:nth-of-type(2) .row {
    align-items: center;
    justify-content: center;
    background: #fffaf0;
    padding: 1em;
    box-shadow: 0px 20px 32px -8px rgba(0,0,0,0.1);
    border-radius: 50%;
}

.rates .row {
    align-items: center;
    gap: 1em;
    padding-bottom: 0.5em;
}

.rates h5 {
    font-weight: 600;
    font-size: 18px;
    color: #2f2f2f;
    margin: 0;
}

.rates p {
    font-weight: 300;
    font-size: 18px;
    padding: 0;
}

.hero-img {
    justify-content: center;
    overflow: hidden;
}

.hero-img img {
    max-width: 500px;
    animation: girar 50s linear infinite;
}

@keyframes girar {
    100% {
        transform: rotate(360deg);
    }
}

/* Media */
@media screen and (max-width: 900px) {
    .toggleMenu {
        position: absolute;
        right: 5%;
        background-image: url(.././img/open.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 1000;
        transition: background-size 0.3s ease-in-out;
    }

    .toggleMenu.active {
        position: fixed;
        background-image: url(.././img/close2.svg);
        background-size: 25px;
        /*background-color: #ffffff50;*/
    }

    .navigation {
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
    }

    .navigation.active {
        position: fixed;
        inset: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        width: 100%;
        min-height: 100vh;
        opacity: 1;
        /*background: linear-gradient(304.58deg, #e1e9f4 57.1%, #3b83e0 145.5%);*/
        background: rgba(6, 10, 0, 0.96);            
        transform: scale(1);
        z-index: 999;
    }

    nav ul {
        flex-direction: column;
        text-align: center;        
    }

    nav ul li {
        margin: 0.8em;
    }

    .hero-img img {
        max-width: 100%;
    }
    
    
    nav a.active, nav a:hover, .secondary-links svg:hover, .hero-btns a:hover {                
        background: -webkit-linear-gradient(300deg, #ffffff90, #ffffff90);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
}

@media screen and (max-width: 500px) {
    body {
        background: linear-gradient(305.58deg, #82a75180 45.1%, #82a751 145.5%);
    }
    
    header {
        flex-direction: column;
    }    
}

@media screen and (max-width: 430px) {    
    .secondary-links {
        margin-top: 20px;
    }

    .hero-btns a:nth-of-type(1) {
        margin-bottom: 20px;
    }
}

/* Video Modal */
.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
}

.modal {
    width: 90vw;
    position: relative;
    padding-top: 56.25%;
    margin: 2em 0;
}

.modal iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    height: 100%;
}

.modal-bg {
    display: none;
    opacity: 0;
}

@media screen and (min-height: 900px) {
    .modal {
        padding-top: 0;
        width: 809px;
        height: 505px;
    }
}

@media screen and (max-width: 520px) {
    .modal {
        top: 25%;
    }
}